{% extends 'base.html' %}

{% block content %}
{% include 'classroom/_guest_header.html' with active='about' %}
  <h2>O'zingizni Python dasturlash tilini qanchalik bilishingiz haqida test oladigan platformaga xush kelibsiz ! <span class="icon-emo-happy"></span></h2>
  <p class="lead">
    Agar akkoutingiz bo'lsa <a href="{% url 'login' %}">Kirish</a>. Agar akkoutingiz bo'lmasa ro'yxatdan o'ting<a href="{% url 'signup' %}">Talabalar uchun</a> or a <a href="{% url 'teacher_signup' %}">O'qituvchi uchun</a>.
  </p>
  <hr>
  <h3>Biz haqimizda</h3>
  <p>
    Bu sayt Madinabonu tomonidan qilingan
  </p>

{% endblock %}
